<html>
<head>
    <title>Express handlebars</title>
    <style link="styles.css"></style>
    <script src="login.js"></script>
</head>
<body>
<form action="add-article-request" id="form">
    <input name="title" type="text">
    <textarea name="text" id="text" cols="30" rows="10"></textarea>
    <input type="submit">
</form>
</body>
</html>
