<html>
<head>
    <title>Express handlebars</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
    <script src="login.js"></script>
</head>
<body>
<form action="add-article-request" id="form">
    <div class="form-inputs">
        <h2>title:</h2>
        <input name="title" type="text">
        <h2>text:</h2>
        <textarea name="text" id="text" cols="30" rows="10"></textarea>
        <input type="submit">
    </div>
</form>
</body>
</html>
