<html>
<head>
    <title>Express handlebars</title>
    <style link="styles.css"></style>
    <script src="login.js"></script>
</head>
<body>
<input type="text" id="password">
<button id="button">login</button>
</body>
</html>
